/* Color coding for the website

Light Shades: #F2F0EF;
  Use this color as the background for your dark-on-light designs, or the text color of an inverted design.
Light Accend: #A49691;
  Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.
Main Brand Color: #B34145;
  This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
Dark Accent: #967D72;
  Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
Dark Shades: #27272B;
  Use as the text color for dark-on-light designs, or as the background for inverted designs.



*/
body {
  background-color: #27272B;
}

/**************** NavBar CSS *********************/
.NavBar {
  display: flex;
  background-color: #27272B;
  align-items: center; /* Makes sure the item is in center of the div (in terms of height) */
  height: 10em;
  width: 100%;

  /* to make the Nav Bar stay on the top of screen */
  position: -webkit-sticky; /* safari */
  position: sticky;
  top: 0;
}

.NavBar p{
  color: #fff;
  text-align: center;
  margin: 0 auto;

  font-size: 3em;
}

.NavBar a{

}
/**************** ChampionList CSS *********************/
#searchBar {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #F2F0EF;
}

.allChampionCard {
  background-color: #A49691;
  width: 90%;
  margin: auto;
}

.championCard {
  background-color: #967D72;
  padding: 0.3em;
  margin: 0.3em;

  /*border-color: #27272B;
  border-width: 4px;
  border-style: solid;*/
  border-radius: 0.2em;
  box-shadow: 0.2em 0.3em #806A61;

  float: left;
  align-items: center;

  width: 15em;
}

.championCard:hover {
  box-shadow: 0.25em 0.4em #806A61;
}

.championCard img{
  float: left;
}

.champion-details {
  float:left;
  margin-left: 2px;

  top: 30%;
}
.title {
  width: 100%
}

/**************** Champion Detail CSS *********************/

.champDetail {
  color: #F2F0EF;
  width: 70%;
  margin: auto;
  padding: 2em;
}

.champSplash {
  width: 100%;
}

.statTable {
  float: right;
  width: 30%;
  margin-top: 1em;
  margin-left: 1em;
}

.description{
  width: 65%;
  float: left;
}




/**************** BuildPage CSS *********************/


.item.card {
  background-color: #967D72;
  padding: 0.3em;
  margin: 0.3em;

  /*border-color: #27272B;
  border-width: 4px;
  border-style: solid;*/
  border-radius: 0.1em;
  box-shadow: 0.1em 0.2em #806A61;

  float: left;
  align-items: center;
}

.itemList {
  float: right;
  width: 40%;
  height: 80vh;
  overflow: scroll;
}

.itemDetail {
  background-color: #967D72;
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 0.1em;
  box-shadow: 0.1em 0.2em #806A61;
  width: 55%;
  float: left;
}
