/* Color coding for the website

Light Shades: #F2F0EF;
  Use this color as the background for your dark-on-light designs, or the text color of an inverted design.
Light Accend: #A49691;
  Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.
Main Brand Color: #B34145;
  This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
Dark Accent: #967D72;
  Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
Dark Shades: #27272B;
  Use as the text color for dark-on-light designs, or as the background for inverted designs.



*/

/**************** General CSS *********************/
body {
  background-color: #27272B;
  color: #F2F0EF;
}

.right {
  float: right;
}



/**************** NavBar CSS *********************/
.NavBar {
  display: flex;
  background-color: #27272B;
  align-items: center; /* Makes sure the item is in center of the div (in terms of height) */
  height: 10em;
  width: 100%;

  /* to make the Nav Bar stay on the top of screen */
  position: -webkit-sticky; /* safari */
  position: sticky;
  top: 0;
}

.NavBar p{
  color: #fff;
  text-align: center;
  margin: 0 auto;

  font-size: 3em;
}

.NavBar a{

}
/**************** ChampionList CSS *********************/
.searchBar {
  width: 20.5rem;
  height: 2rem;
  margin: auto;
  color: #F2F0EF;
  background-color: #fff;
  border-radius: 0.2em;
}

.search {
  width: 18rem;
  height: 1.6rem;
  margin-left: 0.4em;
  overflow: visible;
  border-style: none;
  font-size: 1em;

  outline: none;
}

.searchIcon {
  width: 1.1rem;
  height: 1.1rem;
  border-style: solid;
  border-color: #B34145;
  border-radius: 1rem;
  border-width: 0.1rem;
  padding: 0.3rem;
  margin-top: 0.05rem;
}

.searchIcon:active {
  border-color: #f00;
}

.allChampionCard {
  background-color: #A49691;
  width: 90%;
  margin: auto;
}

.championCard {
  background-color: #967D72;
  padding: 0.3em;
  margin: 0.3em;

  /*border-color: #27272B;
  border-width: 4px;
  border-style: solid;*/
  border-radius: 0.2em;
  box-shadow: 0.2em 0.3em #806A61;

  float: left;
  align-items: center;

  width: 15em;
}

.championCard:hover {
  box-shadow: 0.25em 0.4em #806A61;
}

.championCard img{
  float: left;
}

.champion-details {
  float:left;
  margin-left: 5px;

  top: 30%;
  width: 45%;
}

.champion-name {
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  font-size: 1.22em;
}

.champion-tags {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.champion-tag {
  list-style: none;
  color: #cacaca;
  font-size: 13px;
  line-height: 16px;
}

/**************** Champion Detail CSS *********************/

.champDetail {
  color: #F2F0EF;
  width: 70%;
  margin: auto;
  padding: 2em;
}

.champSplash {
  width: 100%;
}

.statTable {
  width: 20%;
  margin-top: 2em;
  margin-left: 1em;
}

.description{
  width: 65%;
  float: left;
}

.title {
  width: 70%
}


/**************** BuildPage CSS *********************/

.buildInfo {
  width: 60%;
  height: 80.5vh;

  border-radius: 0.2em;
  border-color: #A49691;
  border-width: 0.1em;
  border-style: solid;
}

.buildPortrait {
  float: left;
}

.item.card {
  background-color: #967D72;
  padding: 0.3em;
  margin: 0.3em;

  /*border-color: #27272B;
  border-width: 4px;
  border-style: solid;*/
  border-radius: 0.1em;
  box-shadow: 0.1em 0.2em #806A61;

  float: left;
  align-items: center;
}

.itemList {
  float: right;
  width: 100%;
  height: 48vh;
  overflow: scroll;
  right: 0%;

  border-style: solid;
  border-color: #A49691;
  border-width: 0.1em;
  border-radius: 0.4em;

}

.detailPane {
  float: right;
  width: 100%;
  height: 32vh;
  right: 0%;
  margin-bottom: 0.2em;

  border-style: solid;
  border-color: #A49691;
  border-width: 0.1em;
  border-radius: 0.4em;
}

.itemDetail {
  font-size: .8em;
  background-color: #967D72;
  padding: 0.3em;
  margin: 0.3em;
  border-radius: 0.1em;
  box-shadow: 0.1em 0.2em #806A61;
  width: 96.5%;
  height: 30vh;
  overflow: scroll;
}

.itemDetail img {
  float: left;
  margin: 1vh;
}

.itemDetail a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.itemsAndInfo {
  width: 39%;
}

.inventorySlot {
  width: 64px;
  height: 64px;
}
